@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.instructor-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.instructor-card{
  flex: 0 0 calc(50% - 16px); /* Two items per row with spacing */
  background-color:#D4F1F4;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #3c009d;
}
.instructor-card:hover{
    transform: scale(1.1);
 }
